{% extends "auctions/layout.html" %}

{% block body %}

    <div class="listing">
        <h1>{{ listing.title }}</h1>
        <h3>{{ listing.startingprice }}$</h3>
        <img src={{ listing.imageurl }} />
        <p>{{ listing.desc }}</p>
    </div>
    <div class="listing-bottom">
        {% if user.is_authenticated %}
            {% if isOnWatchList %}
                <a href="/removefromwatchlist/{{ listing.id }}" style="color: red;"><h4>Remove From WatchList</h4></a>
            {% else %}
                <a href="/addtowatchlist/{{ listing.id }}" style="color: blue;"><h4>Add To WatchList</h4></a>
            {% endif %}
            <h2>Bid on this Item</h2>
            <form action="{% url 'bidding' %}" method="post">
                {% csrf_token %}
                <input name="listingid" value="{{ listing.id }}" hidden/>
                <input name="amount" type="number" placeholder="{{ listing.startingprice }}" min="{{ listing.startingprice }}" />
                <button type="submit">Place bid</button>
            </form>

            <h2>Comments</h2>
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %} 
                <textarea></textarea>
            </form>
        {% endif %}
    </div>
{% endblock %}